RewriteEngine On
RewriteBase /League-Final/public/

# Redirige toutes les requêtes vers index.php?page=...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
