// Palette de couleurs
$darkerGrey: #0b132b;
$darkGrey: #1c2541;
$yellow: #d4b52f;
$green: #509d77;
$pink: #d97ab5;
$blue: #45a0ec;
$purple: #9e87cb;
$red: #d66f75;
$grey: #83a1bb;
$white: #ffffff;

// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Ubuntu", sans-serif;
