@import "../variables.scss"; // Import des variables

body {
  font-family: $font-primary;
  background-color: $darkerGrey;
  margin: 0;
  padding: 0;
  height: auto;
}

header {
  background-color: $darkerGrey;
  padding: 10px;
  color: $white;
  text-align: center;
  h1 {
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-top: 10px;

  a {
    color: $white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;

    &:nth-child(1) {
      grid-column: 2;
    }
    &:nth-child(2) {
      grid-column: 3;
    }
    &:nth-child(3) {
      grid-column: 4;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  text-align: center;
  color: $white;
  font-weight: 700;
}
