@import "../variables.scss";

// Section principale
.teams-section {
  text-align: center;
  padding: 20px;

  h2 {
    color: $yellow;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

// Conteneur des équipes
.teams-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 4rem;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

// Carte d'équipe
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  img.team-logo {
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
  }

  h3 {
    color: $yellow;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
  }

  p {
    color: $white;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
  }

  .discover-btn {
    background-color: transparent;
    color: $yellow;
    border: 2px solid $yellow;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    margin-top: auto;

    &:hover {
      background-color: $yellow;
      color: $darkGrey;
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .teams-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .team-card {
    width: 90%;
    margin: 0 auto;
  }

  img.team-logo {
    max-width: 200px;
  }
}
