<header>
    <h1><a href="/League-Final/public/index.php">The League</a></h1>
    <nav class="nav">
        <a href="/League-Final/public/index.php?page=teams">Les Teams</a>
        <a href="/League-Final/public/index.php?page=players">Les Players</a>
        <a href="/League-Final/public/index.php?page=matches">Les Matches</a>


    </nav>
</header>
 