<div class="player-card">
    <img src="{{ player.getPortrait().getUrl() }}" alt="Photo de {{ player.getNickname() }}">
    <p class="player-name">{{ player.getNickname()}}</p>
    <p class="player-team">{{ player.getTeam().getName() }}</p>
</div>
